body{
    margin: 0;
    height: 100%;
}
.header{
    padding: 15px 0;
    background-color: azure;
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    
}
.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid green;
    width: 80%;
}
.logo-content-img{
    border: solid 0px gray;

}
*{
    box-sizing: border-box;
}